.header{
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 10rem;
    height: 3rem;
}
.bars{
    width: 20px;
    height: 10px;
    cursor: pointer;
    background-color: rgb(44, 43, 43);
    padding: .5rem;
    border-radius: 10px;
}
.header-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: #fff;
    cursor: pointer;
}
.header-menu li:hover{
    color: var(--orange);
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .header > :nth-child(2){
       position: fixed;
       right: 2rem;
       z-index: 99;

    }
    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
     
    }
    
}